@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/images/pattern-lines.svg"),
    url("./assets/images/pattern-squiggly-line-top.svg"),
    url("./assets/images/pattern-circle.svg"),
    url("./assets/images/pattern-squiggly-line-bottom.svg"),
    url("./assets/images/background-mobile.png");
  background-size: "auto, 60%, auto, 60%, cover";
  background-position: top, top right, center, bottom left, center;
}

#ticket {
  background-image: url("./assets/images/pattern-ticket.svg");
}
@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/pattern-lines.svg"),
      url("./assets/images/pattern-squiggly-line-top.svg"),
      url("./assets/images/pattern-circle.svg"),
      url("./assets/images/pattern-squiggly-line-bottom.svg"),
      url("./assets/images/background-tablet.png");
    background-size: auto, auto, auto, auto, cover;
    background-color: red;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("./assets/images/pattern-lines.svg"),
      url("./assets/images/pattern-squiggly-line-top.svg"),
      url("./assets/images/pattern-circle.svg"),
      url("./assets/images/pattern-squiggly-line-bottom.svg"),
      url("./assets/images/background-desktop.png");
    background-size: auto, auto, auto, auto, cover;
  }
}
